<!--
=================================================================================
 FICHIER       : admin_logs.html
 DESCRIPTION   : Affichage en temps réel des logs pour l'admin, avec bouton de reset.
 AUTEUR        : Lysandre / Lysius
 DATE          : 14/02/25
 VERSION       : 1.1.1
 LICENCE       : Autre
=================================================================================
 HISTORIQUE :
 - 14/02/25 : [Lysius] Création de la page.
 USAGE :
 - À placer dans le dossier templates/ d'un projet Flask.
 - Affiche les logs en temps réel avec possibilité de reset.
 CONTACT :
 - Email : lysandrepro@gmail.com
 - GitHub : https://github.com/lysandre84
 - Framagit : https://framagit.org/vialette
=================================================================================
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Logs en Temps Réel</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_logs.css') }}">
</head>
<body>
    <div class="admin-container">
        <h1>Logs en Temps Réel</h1>
        <!-- Sélecteur de type -->
        <div style="margin-bottom: 10px;">
            <label for="log-type-select" style="font-weight: bold; color: #FF4040;">Type de logs :</label>
            <select id="log-type-select">
                <option value="SERVEUR">Serveur</option>
                <option value="Clavier-I²C">Clavier I²C</option>
                <option value="INFO-CLAVIER">Info Clavier</option>
                <option value="NFC">NFC</option>
                <option value="API" selected>API</option>
             <!---   <option value="API-challenge">API Challenge</option> -->
            </select>
        </div>
        <!-- Légende couleurs -->
        <div id="log-legend">
            <span class="api-log">API</span> /
            <span class="cat-serv">Serveur</span> /
            <span class="cat-clav">Clavier</span> /
            <span class="cat-info">Info Clavier</span> /
            <span class="cat-nfc">NFC</span> 
           <!-- <span class="cat-api">API Challenge</span> -->
        </div>
        <!-- Zone d'affichage logs -->
        <div id="logs-container" class="logs-box"></div>
        <button id="reset-logs-btn" class="btn reset-btn">Reset Logs</button>
    </div>
    <a href="/admin" class="back-return-btn">⬅️ Retour</a>
    <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="Logo" class="logo">
    <footer>
        <p>© 2025 - Admin Panel</p>
    </footer>
    <script src="{{ url_for('static', filename='js/admin_logs.js') }}"></script>
</body>
</html>
